@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Average Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Average";
  font-size: 2.5rem;
}

p {
  color: #DEE1E6;
}

a {
  text-decoration: none;
  color: #171A1F;
}

@font-face {
  font-family: "Average";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Average-Regular.ttf);
}

@font-face {
  font-family: "Average Sans";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/AverageSans-Regular.ttf);
}

@font-face {
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/EncodeSans-VariableFont_wdth\,wght.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}